<div class="conatiner mt-[8rem]">
    <div class="heading pt-20">
<h1 class="text-center font-bold text-xl">Login</h1>
</div>

<div class="form">
<form class="max-w-sm mx-auto mt-10">
    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
      <input type="email" id="email" class="bg-white text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="example@email.com" #email required />
    </div>
    <div class="mb-5">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Your password</label>
      <input type="password" id="password" class="bg-white text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="password" #password      required />
    </div>
    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
      </div>
      <label for="terms" class="ms-2 text-sm font-medium text-gray-900">Don't have an account? <a [routerLink]="[ '/register' ]" routerLinkActive="active" class="text-blue-600 hover:underline dark:text-blue-500">Register</a></label>
    </div>
    <button (click)="login(email.value, password.value)" type="submit" class="text-center text-white bg-[#003366] border-0 py-2 px-6 focus:outline-none rounded text-lg">Login</button>
  </form>
  </div>
  </div>
  